EUREKA_DEFAULTZONE=http://<eruekausername>:<eurekapassword>@localhost:8761/eureka/
EUREKA_DEFAULTZONE_DOCKER=http://<eruekausername>:<eurekapassword>@synex-eureka-service:8761/eureka/

AUTH0_DOMAIN=
AUTH0_MANAGEMENT_DOMAIN=
AUTH0_MANAGEMENT_CLIENT_ID=
AUTH0_MANAGEMENT_CLIENT_SECRET=

OAUTH2_ISSUER_URI=
OAUTH2_AUDIENCE=

# Dropped the SPRING_ prefix to prevent Spring Boot from overriding profile-specific datasource configuration.
DATASOURCE_URL=jdbc:postgresql://localhost:5432/user_db
DATASOURCE_URL_DOCKER=jdbc:postgresql://postgresql:5432/user_db

SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=admin

SPRING_JPA_HIBERNATE_DDL=update